header {
  p {
    font-weight: 700;
    font-size: 24px;
    color: #333333;

    text-transform: uppercase;

    margin-top: 1.25rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 770px) {
  header {
    p {
      margin-top: 2.25rem;
      margin-left: 2.5rem;
    }
  }
}
