<div class="container">
    <div class="container__image">
        <img class="image" src="assets/cf1c31d4-72d0-49f5-a327-2aec13c31fd6.png" alt="">
    </div>
    <div>
        <div class="container__text">
            <p class="container__text__title font-style-space-mono letter-spacing-normal">{{bodytitle}}</p>
            <p class="container__text__body font-style-space-mono letter-spacing-normal">{{bodycontent}}</p>
        </div>
        <div class="container__button">
            <button class="btn font-style-space-mono letter-spacing-normal">{{bodybutton}}</button>
        </div>
    </div>
</div>
